Repository iustin05/SEP3, pull requests merged in 2023-08, with the labels that each got.

#25 feat: adding the models inside the project
  .gitignore
  backend/EFC/DAOImplementation/CarDAOImplementation.cs
  backend/EFC/DbAccess.cs
  backend/Entities/Models/Booking.cs
  backend/Entities/Models/Car.cs
  backend/Entities/Models/Category.cs
  backend/Entities/Models/Customer.cs
  backend/Entities/Models/Entities.csproj
  backend/Entities/Models/Location.cs
  backend/Entities/Models/Rate.cs
  backend/Entities/Models/SubCategory.cs
  backend/Entities/Models/User.cs
  backend/backend.csproj
  backend/obj/backend.csproj.nuget.dgspec.json
  backend/obj/backend.csproj.nuget.g.props
  backend/obj/backend.csproj.nuget.g.targets
  backend/obj/project.assets.json
  backend/obj/project.nuget.cache
Labels: backend

#28 Contracts Backend - Frontend + Removed Redundant Files
  backend/Contracts/IBookingService.cs
  backend/Contracts/ICarService.cs
  backend/Contracts/ICategoryService.cs
  backend/Contracts/ICustomerService.cs
  backend/Contracts/ILocationService.cs
  backend/Contracts/IRatingService.cs
  backend/Contracts/ISubCategoryService.cs
  backend/Contracts/IUserService.cs
  frontend/Contracts/IBookingService.cs
  frontend/Contracts/ICarService.cs
  frontend/Contracts/ICategoryService.cs
  frontend/Contracts/ICustomerService.cs
  frontend/Contracts/ILocationService.cs
  frontend/Contracts/IRatingService.cs
  frontend/Contracts/ISubCategoryService.cs
  frontend/Contracts/IUserService.cs
  frontend/Models/Booking.cs
  frontend/Models/Car.cs
  frontend/Models/Category.cs
  frontend/Models/Customer.cs
  frontend/Models/Location.cs
  frontend/Models/Rate.cs
  frontend/Models/SubCategory.cs
  frontend/Models/User.cs
  frontend/Pages/Counter.razor
  frontend/Pages/FetchData.razor
Labels: backend, frontend

#33 Complete Backend <-> Middleware Communication + Database Implementation
  .github/workflows/middleware_workflow.yml
  backend/Contracts/IBookingService.cs
  backend/Contracts/ICarService.cs
  backend/Contracts/IRatingService.cs
  backend/Contracts/IUserService.cs
  backend/EFC/DAOImplementation/BookingDAOImplementation.cs
  backend/EFC/DAOImplementation/CarDAOImplementation.cs
  backend/EFC/DAOImplementation/RatingDAOImplementation.cs
  backend/EFC/DAOImplementation/UserDAOImplementation.cs
  backend/EFC/DbAccess.cs
  backend/EFC/IBookingDAO.cs
  backend/EFC/ICarDAO.cs
  backend/EFC/IUserDAO.cs
  backend/Migrations/20230808212709_Initial.Designer.cs
  backend/Migrations/20230808212709_Initial.cs
  backend/Migrations/DbAccessModelSnapshot.cs
  backend/Models/Car.cs
  backend/Models/Rating.cs
  backend/Program.cs
  backend/Protos/BackendServices.proto
  backend/Services/Exposed/BookingService.cs
  backend/Services/Exposed/CarService.cs
  backend/Services/Exposed/UserService.cs
  backend/appsettings.Development.json
  backend/appsettings.json
  backend/backend.csproj
  backend/bin/Debug/net7.0/appsettings.Development.json
  backend/bin/Debug/net7.0/appsettings.json
  frontend/Contracts/IRatingService.cs
  frontend/Models/Car.cs
  frontend/Models/Rating.cs
  frontend/frontend.csproj
  middleware/pom.xml
  middleware/src/main/java/com/sep3group1/middleware/MiddlewareApplication.java
  middleware/src/main/java/com/sep3group1/middleware/WorkflowTestingController.java
  middleware/src/main/java/com/sep3group1/middleware/dev_integration_testing/controllers/CarController.java
  middleware/src/main/java/com/sep3group1/middleware/dev_integration_testing/controllers/GrpcTestClient.java
  middleware/src/main/java/com/sep3group1/middleware/dev_integration_testing/controllers/services/CarService.java
  middleware/src/main/java/com/sep3group1/middleware/grpc/GrpcClientConfig.java
  middleware/src/main/java/com/sep3group1/middleware/grpc/GrpcClientService.java
  middleware/src/main/proto/BackendServices.proto
Labels: devops, spring, backend, frontend

#36 Added intermediary (incomplete) frontend implementation
  frontend/Pages/DatePickerModal.razor
  frontend/Pages/Index.razor
  frontend/Program.cs
  frontend/Services/MiddlewareService.cs
  frontend/Services/UserService.cs
  frontend/frontend.csproj
Labels: frontend

#34 Implementing the classes for t1->t2 connection
  Sep 3 documentation.docx
  middleware/src/main/java/com/sep3group1/middleware/Controllers/BookingController.java
  middleware/src/main/java/com/sep3group1/middleware/Controllers/CarController.java
  middleware/src/main/java/com/sep3group1/middleware/Controllers/UserController.java
  ~$p 3 documentation.docx
Labels: spring
